[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "==23.1.0"
pycryptodome = "==3.20.0"
protobuf = "==5.26.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
